.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 90px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  z-index: 99;
}

.navbar {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) {
  .navbar {
    top: 0;
    position: sticky;
    z-index: 999;
  }
}

.sidebar .nav-link {
  margin-left: 90px;
  color: #333;
}

.ku {
  writing-mode: vertical-rl;
}

.navbar {
  background-color: var(--pink);
}

.app-name {
  margin-bottom: 0;
}

.app-logo {
  height: 281.25px;
  width: 281.25px;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  
  .sidebar .nav-link {
    margin-left: 30px;
  }

  .menu {
    font-size: 18px;
  }

  .ku {
    font-size: 25px;
  }

  .description {
    font-size: 15px;
  }

  .px-3 {
    font-size: 12px;
  }

  .refer-comments {
    font-size: 15px;
  }

  .comment-user {
    font-size: 8px;
  }

  .comment {
    font-size: 8px;
  }
}

 /* スマホ表示時 */
@media (max-width: 599px) {
  .sidebar {
    top: 11.5rem;
    padding: 0;
  }
  
  .app-logo {
    width: 160px;
    height: 160px;
  }

  .card-body {
    padding: 20px;
  }

  .ku {
    font-size: 20px;
  }

  .description {
    font-size: 10px;
  }

  .px-3 {
    font-size: 10px;
  }
}